.card-divider {
    margin: 16px;
}

.center {
    text-align: center;
}


.mg-top-16{
    margin-top: 16px;
}


.mg-bottom-16{
    margin-bottom: 16px;
}

.mg-tb-16{
    margin-top: 16px;
    margin-bottom: 16px;
}

.mg-top-24 {
    margin-top: 24px;
}

.mg-bottom-24 {
    margin-bottom: 24px;
}

.gray {
    background-color: #E0E0E0;
}
/*.card-box{*/
    /*display: block;*/
    /*min-height: 400px;*/
    /*background-color: #fff;*/
/*}*/

.block{
    display: block;
}

md-card{
    display: block;
}

.padding-20{
    padding: 20px;
}

md-progress-linear .md-container {
    /*background-color: rgba(255, 0, 244, 0.5);*/
}